
body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #19e274;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #226bba;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: #0f7df3;
}
